<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section
			name="hibernate-configuration"
			type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<connectionStrings>
		<add name="Main" connectionString="Data Source=.;Initial Catalog=test;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
			<property name="connection.connection_string">
				Data Source=.;Initial Catalog=test;Integrated Security=True
			</property>

			<mapping assembly="DatabaseBenchmarks" />
		</session-factory>
	</hibernate-configuration>
</configuration>